.login-box {
  background: #ffffff;
  border-radius: 10px;
  padding: 2rem;
  transition: 0.3s;
}

.login-box:hover {
  transform: scale(1.01);
}

.login-title {
  font-size: 22px;
  font-weight: bold;
  color: #004D5B;
}

.form-label-custom {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.custom-input {
  height: 42px;
  font-size: 14px;
  border-radius: 6px !important;
}

.custom-input:focus {
  border-color: #004D5B;
  box-shadow: 0 0 0 0.2rem rgba(0, 77, 91, 0.2);
}

.btn-login {
  background-color: #004D5B !important;
  border: none !important;
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
}

.btn-login:hover {
  background-color: #006874 !important;
}

.link-small {
  font-size: 13px;
  text-decoration: none;
}
