.custom-input:focus {
  border: 1px solid #000; /* viền đen khi focus */
  box-shadow: none;        /* tắt highlight xanh */
  outline: none;
}

.custom-button:focus {
  box-shadow: none;
  outline: none;
}
