@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.brand-text {
  font-family: 'Fredoka One', cursive;  /* font năng động, trẻ trung */
  color: black !important;               /* chữ trắng nổi bật trên nền vàng */
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2); /* tạo chiều sâu cho chữ */
}
/* Gợi ý search */
.search-suggestions {
  position: absolute;
  top: 100%; /* ngay dưới input */
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  z-index: 9999; /* đảm bảo hiển thị trên tất cả */
  max-height: 300px; /* nếu nhiều gợi ý */
  overflow-y: auto;
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f8f9fa;
}

.suggestion-item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 8px;
}
